.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vh;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.input-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
}

.check-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.success-msg {
  color: lightgreen;
  font-weight: bold;
}

.error-msg {
  color: lightcoral;
  font-weight: bold;
}